img {
    border-radius: 10px;
    border-color: blue 20px;
    
}

body {
    color: blue;
    font-family: default;

}

h1 {
    color: red;
    font-family: 'Courier New', Courier, monospace;

}
p{
    color: black;
    font-family: default;


}