header {
    background-color: lightgray;
    height: 25vh;
}

.left {
   float: left;
}
.right {
   float: right;
}
.right * {
    text-align: right;

}

.skills ul {
    list-style: none;
    margin: auto;
    
}

.skills ul li {
    background-color: gray;
    padding: .25em;
    margin: .25em;
    display: inline-block;
}